<mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox> {{checked}}
<button mat-raised-button>Basic</button>
<button mat-button>Basic</button>


<div class="row">
  <div class="col-md-3">
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Option 1</mat-radio-button>
      <mat-radio-button value="2">Option 2</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="col-md-3">
    <mat-form-field>
      <mat-select placeholder="Favorite food">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{ food.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-3">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>
  </div>
  <div class="col-md-3">
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
  </div>
</div>

<mat-form-field class="example-full-width">
  <input matInput placeholder="User Name" name="userName" [(ngModel)]="userName" #userName1="ngModel" required>
  <mat-hint>unique username</mat-hint>
  <span matPrefix>admin.</span>
  <span matSuffix>@domain.com</span>
  <mat-error *ngIf="userName1.invalid && userName1.touched">This feild is required</mat-error>
</mat-form-field>
<div class="row">
  <div class="col-md-6">

    <mat-form-field >
      <input (focus)="picker.open()" matInput [matDatepicker]="picker" placeholder="Choose a date" [min]="minDate"
        [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker touchUi="true"></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-md-6">
    <i class="material-icons">add_alert</i>
    <i class="material-icons md-dark md-inactive">face</i>
    <mat-icon>face</mat-icon>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <mat-chip-list [multiple]="true">
      <mat-chip *ngFor="let food of foods" (click)="food.selected=!food.selected" [selected]="food.selected">
        {{food.viewValue}} -- {{food.selected}}</mat-chip>
    </mat-chip-list>
  </div>
  <div class="col-md-6">
    <mat-progress-spinner  mode="determinate" value="90"></mat-progress-spinner>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <span matTooltip="Info about the action" matTooltipPosition="right">Tooltip</span>
  </div>
  <div class="col-md-6">
    <mat-tab-group dir="rtl">
      <mat-tab label="اولین تب"> <div style="text-align: right;">متن شماه 1</div> </mat-tab>
      <mat-tab label="دومین تب"> <div style="text-align: right;">متن شماه متن شماره 2 </div></mat-tab>
      <mat-tab label="سومین تب"><div style="text-align: right;">متن شماه  متن شماره 3</div> </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <button mat-raised-button (click)="openDialog()">Open Dialog!</button>
  </div>
  <div class="col-md-6">
    <button mat-raised-button color="primary">Button1 </button>
    <button mat-raised-button color="accent"> Button2</button>
    <h1 class="mat-display-1">Jackdaws love my big sphinx of quartz.</h1>
    <h2 class="mat-h2">The quick brown fox jumps over the lazy dog.</h2>
  </div>
</div>

<div class="row" dir="rtl">
  <div class="col-md-3">
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">انتخاب</mat-radio-button>
      <mat-radio-button value="2">انتخاب</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="col-md-3">
    <mat-form-field>
      <mat-select  placeholder="غدای مورد علاقه" >
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{ food.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-3">
    <mat-form-field  class="example-full-width" >
      <input matInput placeholder="غذاهای محلی" value="Sushi">
    </mat-form-field>
  </div>
  <div class="col-md-3">
    <mat-form-field class="example-full-width" >
      <textarea matInput placeholder="توضیحات اضافه"></textarea>
    </mat-form-field>
  </div>
</div>
