<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="studentName">studentName</label>
      <input type="text" id="studentName" #studentName name="studentName" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="Age">Age</label>
      <input type="text" id="Age" #Age name="Age" class="form-control" required
        (keydown.enter)="ModifyStudent(studentName,Age)">
    </div>
  </div>
</div>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of Students ">{{item.Name}}
    <button class="btn btn-xs btn-success" (click)="getStudent(item.ID)">load</button>
    <button class="btn btn-xs btn-danger" (click)="deleteStudent(item.ID)">X</button>
  </li>
</ul>
<div *ngIf="asyncStudents$| async as asyncStudents;else loading">
  <ul class="list-group">
    <li class="list-group-item">Async Loading</li>
    <li class="list-group-item" *ngFor="let item of asyncStudents">{{item.Name}}
      <button class="btn btn-xs btn-success" (click)="getStudent(item.ID)">load</button>
      <button class="btn btn-xs btn-danger" (click)="deleteStudent(item.ID)">X</button>
    </li>
  </ul>
</div>
<mat-progress-spinner mode="indeterminate" *ngIf="isLoading"></mat-progress-spinner>
<ng-template #loading>
  <mat-progress-spinner mode="indeterminate" color="warn"></mat-progress-spinner>
</ng-template>


<ul *ngIf="Student | async as ST">
  <li>{{ST.ID}}</li>
  <li>{{ST.Name}}</li>
  <li>{{ST.Age}}</li>
</ul>