<div class="row">
    <div class="col-md-6">
        <form #f="ngForm">
            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Product Title" [(ngModel)]="title" #title1="ngModel" name="title"
                        required>
                    <mat-error *ngIf="title1.touched && title1.invalid">This feild is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <span matPrefix>$ &nbsp;</span>
                    <input matInput type="number" placeholder="Price" [(ngModel)]="price" #price1="ngModel" name="price"
                        [min]="0" required>
                    <mat-error *ngIf="price1.touched && price1.invalid">
                        <mat-error *ngIf="price1.errors.required">This feild is required.</mat-error>
                        <mat-error *ngIf="price1.errors?.min">The Price should be grather than 0</mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Category" [(ngModel)]="category" name="category" #category1="ngModel"
                        required>
                        <mat-option *ngFor="let item of categiries" [value]="item.Category">{{item.CategoryDesc}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="category1.touched && category1.invalid">This feild is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Image URL" [(ngModel)]="imgURL" #imgURL1="ngModel" name="imgURL"
                        required url>
                    <mat-error *ngIf=" imgURL1.touched && imgURL1.invalid">
                        <mat-error *ngIf="imgURL1.errors.required">This feild is required.</mat-error>
                        <mat-error *ngIf="imgURL1.errors?.url">The URL is Invalid!</mat-error>
                    </mat-error>
                </mat-form-field>
                <div class="row">
                    <div class="col-md-6"><button mat-raised-button [disabled]="!f.valid" (click)="submit(f)"
                            color="primary">Save</button></div>

                    <div class="col-md-6"><button mat-raised-button [hidden]="mode=='new'" (click)="delete()"
                            color="warn">Delete</button></div>
                </div>

            </div>
        </form>
    </div>
    <div class="col-md-6">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{title}}</mat-card-title>
                <mat-card-subtitle>{{price | currency}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image *ngIf="imgURL" [src]="imgURL">
        </mat-card>
    </div>
</div>